/* Mobile Device */
@media screen and (max-width:576px) {

    /* HEADER SECTION CSS */
    
    .header-section {
        padding-bottom: 30px;
    }

    .nav-bar-wrapper {
        margin-top: 16px;
        flex-direction: column;
        gap: 16px;
    }

    .menu {
        flex-direction: column;
        gap: 16px;
        text-align: center;
    }

    .banner-wrapper {
        flex-direction: column;
    }


    .banner-content {
        width: 100%;
        text-align: center;
        margin-top: 45px;
        margin-bottom: 30px;
    }

    .banner-content h2 {
        font-size: 40px;
    }

    .banner-content p {
        font-size: 14px;
        line-height: 23px;
        padding-right: 0;
    }

    .banner-content .btn-primary {
        margin-right: 0;
        margin-bottom: 20px;
    }
    /* HEADER SECTION CSS END*/

    /* RELESASE GAME SECTION CSS */

    .release-game-section {
        padding: 40px 0;
    }
    
    .section-title {
        font-size: 35px;
    }
    
    .section-description {
        font-size: 16px;
        margin: 20px 0;
        padding: 0 10px;
    }

    .game-cards-wrapper {
        grid-template-columns: 1fr;
    }

    .game-card-text p {
        font-size: 20px;
    }

    /* RELESASE GAME SECTION CSS END*/

    .feature-wrapper {
        grid-template-columns: repeat(1,1fr);
    }

    .feature{
        flex-direction: column;
    }

    .centered {
        grid-row: span 1;
        grid-column: span 1;
        width: 100%;
    }

}

/* Tablet Device */
@media screen and (min-width:577px) and (max-width:768px) {

    /* HEADER SECTION CSS */
    .header-section {
        padding-bottom: 30px;
    }

    .nav-bar-wrapper {
        flex-direction: column;
        gap: 16px;
    }

    .menu {
        margin: 20px 0;
    }

    .banner-wrapper {
        flex-direction: column;
    }

    .banner-content {
        width: 100%;
        text-align: center;
        margin-top: 45px;
        margin-bottom: 30px;
    }

    .banner-content p {
        padding-right: 0;
    }

   
    /* HEADER SECTION CSS END*/

    /* RELESASE GAME SECTION CSS */

    .release-game-section {
        padding: 40px 0;
    }
    
    .section-title {
        font-size: 35px;
    }
    
    .section-description {
        font-size: 16px;
        margin: 20px 0;
        padding: 0 10px;
    }

    .game-cards-wrapper {
        grid-template-columns: repeat(2,1fr);
    }

    .game-card-text p {
        font-size: 20px;
    }
    /* RELESASE GAME SECTION CSS END*/

    .feature-wrapper {
        grid-template-columns: repeat(1,1fr);
    }

    .feature{
        flex-direction: column;
    }

    .centered {
        grid-row: span 1;
        grid-column: span 1;
        width: 100%;
    }

}