* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

body {
    background: #050818;
}

.btn-primary {
    color: #050818;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    border-radius: 8px;
    display: inline-block;
    background: #FFC536;
    padding: 20px 30px;
}

.btn-secondary {
    color: #FFC536;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    border-radius: 8px;
    border: 1px solid #FFC536;
    padding: 20px 30px;
    display: inline-block;
}

.white-border-text {
    border-radius: 8px;
    border: 1px solid #FFF;
    color: #fff;
}

.yellow-text {
    color: #FFC536;
}

.bg-overlay {
    /* position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #050818 0%, rgba(5, 8, 24, 0.00) 100%);
    z-index: 9; */
}

/* HEADER SECTION CSS */

.header-section {
    background-image: linear-gradient(90deg, #050818 0%, rgba(5, 8, 24, 0.00) 100%), url("../img/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 130px;
}

.nav-bar {
    background: rgba(5, 8, 24, 0.40);
}

.nav-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu li a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    display: inline-block;
}

.banner-wrapper {
    display: flex;
    align-items: center;
}

.banner-content {
    width: 740px;
    margin-top: 60px;
}

.banner-content h2 {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
}

.banner-content p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
    padding-right: 150px;

}

.banner-content .btn-primary {
    margin-right: 20px;
}

/* HEADER SECTION CSS END */

/* RELEASE SECTION */
.release-game-section {
    padding: 130px 0;
}

.section-title {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

.section-description {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
    padding: 0 100px;
}

.game-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    gap: 32px;
}

.game-card {
    position: relative;
    border-radius: 8px;
}

.card-photo::before {
    background: linear-gradient(90deg, #050818 0%, rgba(5, 8, 24, 0.00) 100%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
}

.game-card-text {
    position: absolute;
    left: 0;
    bottom: 32px;
    margin-left: 32px;
}

.game-card-text span {
    color: #050818;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    border-radius: 4px;
    background: #FFC536;
    padding: 7px 25px;
    display: inline-block;
}

.game-card-text p {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-top: 5px;
}

.game-card-text .game-ratings {
    display: flex;
    gap: 5px;
    align-items: center;
}

.game-card-text .game-ratings i {
    width: 24px;
    height: 24px;
    color: #FFC536;
}

.game-card-text .game-ratings p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

/* RELESASE GAME SECTION CSS END*/

.feature-section {
    background-image: url("../img/rectangle_25.png");
    background-repeat: no-repeat;
    padding: 130px 0;
}

.feature-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 80px;
}

.feature {
    display: flex;
    gap: 32px;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%);
    padding: 30px 25px;
}

.centered {
    grid-row: span 2;
    grid-column: span 2;
    width: 48%;
    margin: 0 auto;
}

.feature-icon img {
    width: 56px;
    height: 56px;
}

.feature-text h4 {
    color: #FFC536;
    font-size: 24px;
    font-weight: 600;
}

.feature-text p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}

/* CREATE TOURNAMENT SECTION CSS */
.create-tournament-section {
    background-image: linear-gradient(90deg, #050818 0%, rgba(5, 8, 24, 0.00) 100%), url("../img/rectangle_27.png");
    background-repeat: no-repeat;
    padding: 130px 0;
}

.tournament-wrapper {
    display: flex;
    align-items: center;
}

.tournament-content {
    width: 740px;
}

.tournament-content h2 {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
}

.tournament-content p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
    padding-right: 130px;
}

/* CREATE TOURNAMENT SECTION CSS END*/